<nav>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/test" routerLinkActive="active">Test</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>
<div class="login">
  <mat-card>
    <h1>Login</h1>
    <form name="form" [formGroup]="form.formGroup" novalidate>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput name="firstName" formControlName="firstName" required>
        <mat-error *ngIf="form.getControl('firstName').touched && form.getControl('firstName').invalid">
          <span *ngIf="form.getControl('firstName').errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Surname</mat-label>
        <input matInput name="surname" formControlName="surname" required>
        <mat-error *ngIf="form.getControl('surname').touched && form.getControl('surname').invalid">
          <span *ngIf="form.getControl('surname').errors.required">This field is mandatory.</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput  name="firstName" type="password" formControlName="password" required>
        <mat-error *ngIf="form.getControl('password').touched && form.getControl('password').invalid">
          <span *ngIf="form.getControl('password').errors.required">This field is mandatory.</span>
          <span *ngIf="form.getControl('password').errors.min">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <div class="form-group">
        <button mat-raised-button color="primary" (click)="submit()" class="btn btn-primary">Login</button>
        <img *ngIf="loading"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
        <!-- <a [routerLink]="['/registration']" class="btn btn-link">Registration</a> -->
      </div>
    </form>
  </mat-card>
</div>
